/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Globals
*  2.0 - Layout
*  3.0 - Utilities
*  4.0 - Components
*  5.0 - Fonts
*  6.0 - Animations
*  7.0 - Header
*  8.0 - Footer
*  9.0 - Home
*  10  - Scroll up
*  11  - Services
*  12  - About
*  13  - Contact
*  14  - Faq

*/

/*---------------
1.0 - Globals
---------------*/

$body-font: 'Mulish', sans-serif;
$primary-color: #458ff6;
$secondary-color: #5cb8d7;

$bg-color: #f8faff;
$title-color: #2c3e50;
$text-color: #6c757dc4;

$sm-breakpoint: 480px;
$md-breakpoint: 767px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1280px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background: hsl(355, 8%, 44%);
}

::-webkit-scrollbar-thumb {
  width: 0.6rem;
  background: hsl(355, 32%, 17%);
  border-radius: 1rem;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: $body-font;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*-----------------
2.0 - Layout 
-----------------*/
.l-main {
  overflow: hidden;
}

.l-container {
  max-width: 968px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.l-grid {
  display: grid;
}

.l-flex {
  display: flex;
}

@media screen and (min-width: $lg-breakpoint) {
  .l-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }
}

@media screen and (min-width: $xl-breakpoint) {
  .l-container {
    max-width: 1248px;
  }
}

/*-----------------
3.0 - Utilities
-----------------*/
.u-is-loading {
  opacity: 0;
}

.u-justify-content-between {
  justify-content: space-between;
}

.u-justify-content-center {
  justify-content: center;
}

.u-align-items-center {
  align-items: center;
}

.u-section {
  margin-bottom: 120px;
  &.u-section--highlight {
    background-color: #2a87fb0d;
    padding: 50px 0;
  }
  &__title {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  &__description {
    font-size: 1.3rem;
    font-weight: 200;
    color: #7d79879d;
    text-align: center;
    padding: 0px 30px;
  }
}

.u-mb-0-5 {
  margin-bottom: 0.5rem;
}

.u-mb-1 {
  margin-bottom: 1rem;
}

.u-mb-1-5 {
  margin-bottom: 1.5rem;
}

.u-mb-2 {
  margin-bottom: 2rem;
}

.u-mb-2-5 {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: $md-breakpoint) {
  .u-section {
    margin-bottom: 150px;
    &__title {
      font-size: 2rem;
    }
    &.u-section--highlight {
      padding: 80px 0;
    }
  }
}

/*-----------------
4.0 - Components
-----------------*/
.c-button {
  display: inline-block;
  color: #fff;
  padding: 1.15rem 2.75rem;
  font-weight: 500;
  border-radius: 3rem;
  transition: 0.3s;
  &.c-button--primary {
    background-color: $primary-color;
    &:hover {
      background-color: $secondary-color;
    }
  }
  &.c-button--gifts {
    display: flex;
    padding: 0.5rem;
    border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/*-----------------
5.0 - Fonts
-----------------*/
h1,
h2,
h3,
p,
a {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  margin: 0px;
  letter-spacing: 0.04rem;
}

h1,
h2,
h3 {
  color: $title-color;
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

a {
  font-size: 0.9rem;
  color: $text-color;
}

p {
  font-size: 1rem;
  color: $text-color;
  font-weight: 200;
}

@media screen and (min-width: $lg-breakpoint) {
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  p,
  a {
    font-size: 1rem;
  }
}

/*-----------------
6.0 - Animations
-----------------*/
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes animate-shadow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  60% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
  }
}

/*-----------------
7.0 - Header
-----------------*/
.c-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  &.is-sticky {
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
  }
}
.c-nav {
  position: sticky;
  top: 0;
  height: 70px;
  &__logo {
    img {
      width: 100%;
    }
  }
  &__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
  }
  &__list {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  &__link {
    color: $title-color;
    font-weight: 600;
    transition: 0.3s;
    font-size: 1rem;
    &:hover {
      color: $primary-color;
    }
    &.c-nav__link--cta {
      background-color: $primary-color;
      display: inline-block;
      color: #fff;
      padding: 1rem 2.35rem;
      font-weight: 700;
      border-radius: 3rem;
      transition: 0.3s;
    }
  }
  &__close {
    font-size: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
  }
  @media screen and (min-width: $md-breakpoint) {
    height: 100px;
    column-gap: 3rem;
    &__menu {
      margin-left: auto;
    }
    &__toggle,
    &__close {
      display: none;
    }
    &__list {
      flex-direction: row;
      column-gap: 3rem;
    }
  }
  @media screen and (max-width: $md-breakpoint) {
    &__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      padding: 4rem 0;
      border-radius: 0 0 1.5rem 1.5rem;
      box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
      transition: 2s all ease;
      background-color: #fff;
      &.is-open {
        top: 0;
        transition: 0.5s all ease;
      }
    }
  }
}

/*-----------------
8.0 - Footer
-----------------*/
.c-footer {
  text-align: center;
  padding: 30px 0px;
  background-color: $primary-color;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  &__container {
    background-color: grey;
  }
  &__logo {
    width: 100%;
  }
  &__social {
    column-gap: 30px;
    i {
      color: #fff;
      font-size: 3rem;
    }
  }
  h2 {
    color: #fff;
  }
  p {
    color: #fff;
    margin-top: 2rem;
  }
}

/*-----------------
9.0 - Home
-----------------*/
.c-home {
  position: relative;
  &__arrow {
    animation: bounce 2.5s infinite;
    position: absolute;
    bottom: -30px;
    width: 60px;
    height: 60px;
    background-color: $primary-color;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.6rem;
    left: 50%;
    cursor: pointer;
    display: none;
  }
  &__container {
    row-gap: 1.5rem;
  }
  &__img {
    width: 60%;
    justify-self: center;
  }
  &__data {
    text-align: center;
    img {
      display: none;
    }
  }
  &__description {
    padding: 0 2rem;
    font-size: 1.3rem;
    font-weight: 200;
    color: #7d79879d;
  }

  @media screen and (min-width: $md-breakpoint) {
    &__arrow {
      display: flex;
    }
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
    &__img {
      width: 100%;
    }
    &__data {
      text-align: initial;
      grid-column: 1;
      grid-row: 1;
      img {
        position: absolute;
        left: 10%;
        top: 30%;
        display: block;
        animation: float 2s linear infinite alternate;
      }
    }
    &__description {
      padding: 0;
    }
  }
  @media screen and (min-width: $lg-breakpoint) {
    &__container {
      column-gap: 1rem;
    }
    &__img {
      width: 100%;
    }
    &__description {
      padding-right: 8rem;
    }
  }
}

/*-----------------
10 - Scroll up
-----------------*/
.c-scrollup {
  position: fixed;
  right: 2rem;
  bottom: -30%;
  background-color: #fff;
  box-shadow: 0 4px 12px hsl(0, 0%, 20%, 0.1);
  display: inline-flex;
  padding: 0.35rem;
  border-radius: 0.25rem;
  z-index: 200;
  opacity: 0.8;
  transition: 0.4s;
  &.is-active {
    bottom: 3rem;
  }
  &:hover {
    opacity: 1;
  }
  &__icon {
    font-size: 1.25rem;
    color: $primary-color;
  }
}

/*-----------------
11 - Services
-----------------*/

.c-services {
  position: relative;
  &__frame {
    position: absolute;
    z-index: -1;
    right: 15%;
    top: 50%;
    animation: float 2s linear infinite alternate;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 35px;
  }
  &__card {
    cursor: pointer;
    width: 350px;
    background: #ffffff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 50px 30px;
    &:hover .c-services__icon {
      transform: translateY(-0.5rem);
      color: $secondary-color;
    }
    i {
      font-size: 5rem;
      transition: all 0.5s ease;
      color: $primary-color;
      padding: 30px 0px;
    }
    h3 {
      padding-bottom: 10px;
    }
  }
}

/*-----------------
12 - About
-----------------*/
.c-about {
  padding-top: 1.5rem;
  &__container {
    row-gap: 1.5rem;
  }
  &__img {
    width: 100%;
    justify-self: center;
  }
  &__data {
    position: relative;
    text-align: center;
    ul {
      margin: 0;
      li {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        i {
          font-size: 2rem;
          color: $primary-color;
        }
      }
    }
    img {
      display: none;
    }
  }
  &__description {
    padding: 0 2rem;
    font-size: 1.3rem;
    font-weight: 200;
    color: #7d79879d;
  }

  @media screen and (min-width: $md-breakpoint) {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      column-gap: 5rem;
    }
    &__data {
      text-align: left;
      ul {
        li {
          justify-content: flex-start;
        }
      }
      img {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        animation: float 2s linear infinite alternate;
      }
    }
    &__description {
      padding-left: 0;
    }
  }
  @media screen and (min-width: $lg-breakpoint) {
    &__container {
      column-gap: 10rem;
    }
    &__img {
      width: 100%;
    }
  }
}

/*-----------------
13 - Contact
-----------------*/
.c-contact {
  &__container {
    row-gap: 1.5rem;
  }
  &__img {
    width: 100%;
    justify-self: center;
  }
  &__data {
    position: relative;
    text-align: center;
    ul {
      margin: 0;
      li {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        i {
          font-size: 2rem;
          color: $primary-color;
        }
      }
    }
    img {
      display: none;
    }
  }
  &__description {
    padding: 0 2rem;
    font-size: 1.3rem;
    font-weight: 200;
    color: #7d79879d;
  }

  @media screen and (min-width: $md-breakpoint) {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      padding-top: 50px;
    }
    &__data {
      text-align: left;
      grid-column: 1;
      grid-row: 1;
      ul {
        li {
          justify-content: flex-start;
        }
      }
      img {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        animation: float 2s linear infinite alternate;
      }
    }
    &__description {
      padding-left: 0;
    }
  }
  @media screen and (min-width: $lg-breakpoint) {
    &__img {
      width: 100%;
    }
  }
}

/*-----------------
14 - Faq
-----------------*/
.c-faq {
  margin-top: 120px;
  background-color: #2a87fb0d;
  padding: 50px 0;
  ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    padding: 0;
    margin: 0;
    padding: 17px 0 17px 10px;
    i {
      position: absolute;
      transform: translate(-6px, 0);
      margin-top: 8px;
      padding-right: 20px;
      right: 0;
      &:before,
      &:after {
        content: '';
        position: absolute;
        background-color: $title-color;
        width: 3px;
        height: 9px;
        transition: all 0.25s ease-in-out;
      }
      &:before {
        transform: translate(-2px, 0) rotate(45deg);
      }
      &:after {
        transform: translate(2px, 0) rotate(-45deg);
      }
    }
    input[type='checkbox'] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      top: 0;
      right: 0;
      &:checked ~ .c-faq__wrapper {
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transform: translate(0, 50%);
      }
      &:checked ~ i:before {
        transform: translate(2px, 0) rotate(45deg);
      }
      &:checked ~ i:after {
        transform: translate(-2px, 0) rotate(-45deg);
      }
    }
  }
  &__wrapper {
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
    max-width: 80%;
    transition: all 0.25s ease-in-out;

    p {
      padding-left: 20px;
      margin-bottom: 0;
    }
  }
}
